!
! template: bgpd/templates/general/peer-group.conf.j2
!
  neighbor PEER_V4 peer-group
  neighbor PEER_V6 peer-group
  neighbor PEER_UNNUMBERED peer-group
  neighbor PEER_UNNUMBERED capability extended-nexthop
  address-family ipv4
{% if CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'ToRRouter' %}
    neighbor PEER_V4 allowas-in 1
    neighbor PEER_UNNUMBERED allowas-in 1
{% elif CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'LeafRouter' %}
{%   if CONFIG_DB__BGP_BBR['status'] == 'enabled' %}
    neighbor PEER_V4 allowas-in 1
    neighbor PEER_UNNUMBERED allowas-in 1
{%   endif %}
{% endif %}
    neighbor PEER_V4 soft-reconfiguration inbound
    neighbor PEER_V4 route-map FROM_BGP_PEER_V4 in
    neighbor PEER_V4 route-map TO_BGP_PEER_V4 out
    neighbor PEER_UNNUMBERED soft-reconfiguration inbound
    neighbor PEER_UNNUMBERED route-map FROM_BGP_PEER_UNNUMBERED_V4 in
    neighbor PEER_UNNUMBERED route-map TO_BGP_PEER_UNNUMBERED_V4 out
{% if (CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'SpineRouter' and CONFIG_DB__DEVICE_METADATA['localhost']['subtype'] == 'UpstreamLC') or CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'UpperSpineRouter' or CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'UpperRegionalHub' %}
    table-map SELECTIVE_ROUTE_DOWNLOAD_V4
{% endif %}
  exit-address-family
  address-family ipv6
{% if CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'ToRRouter' %}
    neighbor PEER_V6 allowas-in 1
    neighbor PEER_UNNUMBERED allowas-in 1
{% elif CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'LeafRouter' %}
{%   if CONFIG_DB__BGP_BBR['status'] == 'enabled' %}
    neighbor PEER_V6 allowas-in 1
    neighbor PEER_UNNUMBERED allowas-in 1
{%   endif %}
{% endif %}
    neighbor PEER_V6 soft-reconfiguration inbound
    neighbor PEER_V6 route-map FROM_BGP_PEER_V6 in
    neighbor PEER_V6 route-map TO_BGP_PEER_V6 out
    neighbor PEER_UNNUMBERED soft-reconfiguration inbound
    neighbor PEER_UNNUMBERED route-map FROM_BGP_PEER_UNNUMBERED_V6 in
    neighbor PEER_UNNUMBERED route-map TO_BGP_PEER_UNNUMBERED_V6 out
{% if (CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'SpineRouter' and CONFIG_DB__DEVICE_METADATA['localhost']['subtype'] == 'UpstreamLC') or CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'UpperSpineRouter' or CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'UpperRegionalHub' %}
    table-map SELECTIVE_ROUTE_DOWNLOAD_V6
{% endif %}
  exit-address-family
!
! end of template: bgpd/templates/general/peer-group.conf.j2
!
