#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Configuration item:	LED CPLD register address
# Description: Formatled_status_[led_id]_[led_index]
# Note:	led_id By definition wb_led_t
# led_index:If there is no index, fill in 0. If there is an index (such as a fan light), the number starts from 1

# Front panel SYS light
led_status.mode_0_0=config
led_status.src_0_0=file
led_status.frmt_0_0=byte
led_status.fpath_0_0=/dev/cpld1
led_status.addr_0_0=0xaa
led_status.len_0_0=1

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 0- Front panel SYS light
# cpld: 0: off, 1: red flash, 2: red, 3: green flash, 4: green, 5: amber flash, 6: amber
# s3ip: 0: off, 1: green, 2: amber, 3: red, 4: blue, 5: green flash, 6: amber flash,
#       7: red flash, 8: blue flash
led_status_decode_0_0=0
led_status_decode_0_1=7
led_status_decode_0_2=3
led_status_decode_0_3=5
led_status_decode_0_4=1
led_status_decode_0_5=6
led_status_decode_0_6=2
led_status_decode_0_17=5
led_status_decode_0_18=7
led_status_decode_0_19=6
led_status_decode_0_33=5
led_status_decode_0_34=7
led_status_decode_0_35=6
led_status_decode_0_65=5
led_status_decode_0_66=7
led_status_decode_0_67=6
led_status_decode_0_129=5
led_status_decode_0_130=7
led_status_decode_0_131=6
led_status_decode_0_255=0

# Front panel BMC light
led_status.mode_2_0=config
led_status.src_2_0=file
led_status.frmt_2_0=byte
led_status.fpath_2_0=/dev/cpld1
led_status.addr_2_0=0xab
led_status.len_2_0=1

led_status_decode_2_0=0
led_status_decode_2_1=7
led_status_decode_2_2=3
led_status_decode_2_3=5
led_status_decode_2_4=1
led_status_decode_2_5=6
led_status_decode_2_6=2
led_status_decode_2_7=0

# Front panel FAN light
led_status.mode_4_0=config
led_status.src_4_0=file
led_status.frmt_4_0=byte
led_status.fpath_4_0=/dev/cpld1
led_status.addr_4_0=0xad
led_status.len_4_0=1

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 4-Front panel FAN light
led_status_decode_4_0=0
led_status_decode_4_1=7
led_status_decode_4_2=3
led_status_decode_4_3=5
led_status_decode_4_4=1
led_status_decode_4_5=6
led_status_decode_4_6=2
led_status_decode_4_7=0

# Front panel PSU light
led_status.mode_6_0=config
led_status.src_6_0=file
led_status.frmt_6_0=byte
led_status.fpath_6_0=/dev/cpld1
led_status.addr_6_0=0xac
led_status.len_6_0=1

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 6-Front panel PSU light
led_status_decode_6_0=0
led_status_decode_6_1=7
led_status_decode_6_2=3
led_status_decode_6_3=5
led_status_decode_6_4=1
led_status_decode_6_5=6
led_status_decode_6_6=2
led_status_decode_6_7=0

# Fan body lamp1
led_status.mode_10_1=config
led_status.src_10_1=file
led_status.frmt_10_1=byte
led_status.fpath_10_1=/dev/cpld10
led_status.addr_10_1=0xd0
led_status.len_10_1=1

# Fan body lamp2
led_status.mode_10_2=config
led_status.src_10_2=file
led_status.frmt_10_2=byte
led_status.fpath_10_2=/dev/cpld10
led_status.addr_10_2=0xd1
led_status.len_10_2=1

# Fan body lamp3
led_status.mode_10_3=config
led_status.src_10_3=file
led_status.frmt_10_3=byte
led_status.fpath_10_3=/dev/cpld10
led_status.addr_10_3=0xd2
led_status.len_10_3=1

# Fan body lamp4
led_status.mode_10_4=config
led_status.src_10_4=file
led_status.frmt_10_4=byte
led_status.fpath_10_4=/dev/cpld10
led_status.addr_10_4=0xd3
led_status.len_10_4=1

# Fan body lamp5
led_status.mode_10_5=config
led_status.src_10_5=file
led_status.frmt_10_5=byte
led_status.fpath_10_5=/dev/cpld10
led_status.addr_10_5=0xd4
led_status.len_10_5=1

# Fan body lamp6
led_status.mode_10_6=config
led_status.src_10_6=file
led_status.frmt_10_6=byte
led_status.fpath_10_6=/dev/cpld10
led_status.addr_10_6=0xd5
led_status.len_10_6=1

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 10-Fan body lamp
led_status_decode_10_0=0
led_status_decode_10_1=7
led_status_decode_10_2=3
led_status_decode_10_3=5
led_status_decode_10_4=1
led_status_decode_10_5=6
led_status_decode_10_6=2
led_status_decode_10_7=0
