#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Set item: System E2 i2c bus address
# Description: Format other_i2c_dev.bus_[main_dev]_[minor_dev] other_i2c_dev.addr_[main_dev]_[minor_dev],
#			.bus is configuration item corresponds to the bus number (/dev/i2c-bus)
#			.addr is address of the device corresponding to the configuration item on the bus
# Note: 	main_dev look rg_main_dev_type_t definition, main board is 0, minor_dev is 0
other_i2c_dev.bus_0_0=1
other_i2c_dev.addr_0_0=0x56

# Configuration item: System E2 path
eeprom_path_0_0=/sys/bus/i2c/devices/1-0056/eeprom

# Configuration item: System E2 size
eeprom_size_0_0=256

# Configuration item: cpld logic_dev patch
# Description: Format cpld_logic_dev_[cpld_slot]_[cpld_id]
#			All cpld numbers of each product are customized and do not have to be repeated.
#			The numbers are reflected in the upper eight digits of the offset address of the cpld device
#			cpld_id: 0:X86_CPLD, 1:MAC_CPLDA, 2:MAC_CPLDB
# Note: This field is optional. This field is not required for CPLDS that are not accessed by logic_dev
cpld_logic_dev_0_0=/dev/cpld0
cpld_logic_dev_0_1=/dev/cpld1
cpld_logic_dev_0_2=/dev/cpld2
cpld_logic_dev_0_3=/dev/cpld3
cpld_logic_dev_0_4=/dev/cpld4
cpld_logic_dev_0_5=/dev/cpld5
cpld_logic_dev_0_6=/dev/cpld6
cpld_logic_dev_0_7=/dev/cpld7
cpld_logic_dev_0_8=/dev/cpld8
cpld_logic_dev_0_9=/dev/cpld9


# Configuration item: Access mode of each cpld(LPC/I2C)
# Description: Format mode_cpld_[cpld_slot][cpld_slot]=lpc/i2c/logic_dev, cpld_id is cpld number,Start at 0
# Note: This field is required
mode_cpld_0_0=logic_dev
mode_cpld_0_1=logic_dev
mode_cpld_0_2=logic_dev
mode_cpld_0_3=logic_dev
mode_cpld_0_4=logic_dev
mode_cpld_0_5=logic_dev
mode_cpld_0_6=logic_dev
mode_cpld_0_7=logic_dev
mode_cpld_0_8=logic_dev
mode_cpld_0_9=logic_dev


# Configuration item: the number of CPLD
# Description: Format  dev_num_[main_dev]_[minor_dev]
# Note: main_dev: indicates that the mainboard is 0, the subPLD is 5, and the minor_dev: CPLD is 8
dev_num_0_8=10

# Configuration item: Name of each cpld
# Description: Format  cpld_name_[cpld_id] cpld_id is cpld number,start with 1
# Note: This field is required
cpld_name_0_0=CPU_CPLD
cpld_name_0_1=MGMT_CPLD
cpld_name_0_2=MAC_CPLD_A
cpld_name_0_3=MAC_CPLD_B
cpld_name_0_4=MAC_CPLD_C
cpld_name_0_5=UPORT_CPLD
cpld_name_0_6=DPORT_CPLD
cpld_name_0_7=UFAN_CPLD
cpld_name_0_8=DFAN_CPLD
cpld_name_0_9=MAC_CPLD_D

# Configuration item: Model of each cpld
# Description: Format  cpld_type_[cpld_id] cpld_idis cpld number,start with 1
# Note: This frequired
cpld_type_0_0=LCMXO3LF-6900C-5BG400C
cpld_type_0_1=LCMXO3LF-6900C-5BG400C
cpld_type_0_2=LCMXO3LF-6900C-5BG400C
cpld_type_0_3=LCMXO3LF-4300C-5BG324C
cpld_type_0_4=LCMXO3LF-6900C-5BG400C
cpld_type_0_5=LCMXO3LF-6900C-5BG400C
cpld_type_0_6=LCMXO3LF-6900C-5BG400C
cpld_type_0_7=LCMXO3LF-2100C-5BG256C
cpld_type_0_8=LCMXO3LF-2100C-5BG256C
cpld_type_0_9=LCMXO3LF-2100C-5BG256C

cpld_vendor_0_0=LATTICE
cpld_vendor_0_1=LATTICE
cpld_vendor_0_2=LATTICE
cpld_vendor_0_3=LATTICE
cpld_vendor_0_4=LATTICE
cpld_vendor_0_5=LATTICE
cpld_vendor_0_6=LATTICE
cpld_vendor_0_7=LATTICE
cpld_vendor_0_8=LATTICE
cpld_vendor_0_9=LATTICE

# Configuration item: Version register of each CPLD
# Description: Format  cpld_version_[cpld_id] cpld_id is cpld number,start with 1
# Note: This field is required
cpld_version.mode_0_0=config
cpld_version.int_cons_0_0=
cpld_version.src_0_0=logic_file
cpld_version.frmt_0_0=num_bytes
cpld_version.pola_0_0=
cpld_version.fpath_0_0=/dev/cpld0
cpld_version.addr_0_0=0x0
cpld_version.len_0_0=4
cpld_version.bit_offset_0_0=

cpld_version.mode_0_1=config
cpld_version.int_cons_0_1=
cpld_version.src_0_1=logic_file
cpld_version.frmt_0_1=num_bytes
cpld_version.pola_0_1=
cpld_version.fpath_0_1=/dev/cpld1
cpld_version.addr_0_1=0x0
cpld_version.len_0_1=4
cpld_version.bit_offset_0_1=

cpld_version.mode_0_2=config
cpld_version.int_cons_0_2=
cpld_version.src_0_2=logic_file
cpld_version.frmt_0_2=num_bytes
cpld_version.pola_0_2=
cpld_version.fpath_0_2=/dev/cpld2
cpld_version.addr_0_2=0x0
cpld_version.len_0_2=4
cpld_version.bit_offset_0_2=

cpld_version.mode_0_3=config
cpld_version.int_cons_0_3=
cpld_version.src_0_3=logic_file
cpld_version.frmt_0_3=num_bytes
cpld_version.pola_0_3=
cpld_version.fpath_0_3=/dev/cpld3
cpld_version.addr_0_3=0x0
cpld_version.len_0_3=4
cpld_version.bit_offset_0_3=

cpld_version.mode_0_4=config
cpld_version.int_cons_0_4=
cpld_version.src_0_4=logic_file
cpld_version.frmt_0_4=num_bytes
cpld_version.pola_0_4=
cpld_version.fpath_0_4=/dev/cpld4
cpld_version.addr_0_4=0x0
cpld_version.len_0_4=4
cpld_version.bit_offset_0_4=

cpld_version.mode_0_5=config
cpld_version.int_cons_0_5=
cpld_version.src_0_5=logic_file
cpld_version.frmt_0_5=num_bytes
cpld_version.pola_0_5=
cpld_version.fpath_0_5=/dev/cpld5
cpld_version.addr_0_5=0x0
cpld_version.len_0_5=4
cpld_version.bit_offset_0_5=

cpld_version.mode_0_6=config
cpld_version.int_cons_0_6=
cpld_version.src_0_6=logic_file
cpld_version.frmt_0_6=num_bytes
cpld_version.pola_0_6=
cpld_version.fpath_0_6=/dev/cpld6
cpld_version.addr_0_6=0x0
cpld_version.len_0_6=4
cpld_version.bit_offset_0_6=

cpld_version.mode_0_7=config
cpld_version.int_cons_0_7=
cpld_version.src_0_7=logic_file
cpld_version.frmt_0_7=num_bytes
cpld_version.pola_0_7=
cpld_version.fpath_0_7=/dev/cpld7
cpld_version.addr_0_7=0x0
cpld_version.len_0_7=4
cpld_version.bit_offset_0_7=

cpld_version.mode_0_8=config
cpld_version.int_cons_0_8=
cpld_version.src_0_8=logic_file
cpld_version.frmt_0_8=num_bytes
cpld_version.pola_0_8=
cpld_version.fpath_0_8=/dev/cpld8
cpld_version.addr_0_8=0x0
cpld_version.len_0_8=4
cpld_version.bit_offset_0_8=

cpld_version.mode_0_9=config
cpld_version.int_cons_0_9=
cpld_version.src_0_9=logic_file
cpld_version.frmt_0_9=num_bytes
cpld_version.pola_0_9=
cpld_version.fpath_0_9=/dev/cpld9
cpld_version.addr_0_9=0x0
cpld_version.len_0_9=4
cpld_version.bit_offset_0_9=

# Configuration item: Test register for each CPLD
# Description: Format  cpld_test_reg_[cpld_id] cpld_id is cpld number,start with 1
# Note: This field is required

cpld_test_reg.mode_0_0=config
cpld_test_reg.int_cons_0_0=
cpld_test_reg.src_0_0=logic_file
cpld_test_reg.frmt_0_0=byte
cpld_test_reg.pola_0_0=
cpld_test_reg.fpath_0_0=/dev/cpld0
cpld_test_reg.addr_0_0=0xf
cpld_test_reg.len_0_0=1
cpld_test_reg.bit_offset_0_0=

cpld_test_reg.mode_0_1=config
cpld_test_reg.int_cons_0_1=
cpld_test_reg.src_0_1=logic_file
cpld_test_reg.frmt_0_1=byte
cpld_test_reg.pola_0_1=
cpld_test_reg.fpath_0_1=/dev/cpld1
cpld_test_reg.addr_0_1=0xf
cpld_test_reg.len_0_1=1
cpld_test_reg.bit_offset_0_1=

cpld_test_reg.mode_0_2=config
cpld_test_reg.int_cons_0_2=
cpld_test_reg.src_0_2=logic_file
cpld_test_reg.frmt_0_2=byte
cpld_test_reg.pola_0_2=
cpld_test_reg.fpath_0_2=/dev/cpld2
cpld_test_reg.addr_0_2=0xf
cpld_test_reg.len_0_2=1
cpld_test_reg.bit_offset_0_2=

cpld_test_reg.mode_0_3=config
cpld_test_reg.int_cons_0_3=
cpld_test_reg.src_0_3=logic_file
cpld_test_reg.frmt_0_3=byte
cpld_test_reg.pola_0_3=
cpld_test_reg.fpath_0_3=/dev/cpld3
cpld_test_reg.addr_0_3=0xf
cpld_test_reg.len_0_3=1
cpld_test_reg.bit_offset_0_3=

cpld_test_reg.mode_0_4=config
cpld_test_reg.int_cons_0_4=
cpld_test_reg.src_0_4=logic_file
cpld_test_reg.frmt_0_4=byte
cpld_test_reg.pola_0_4=
cpld_test_reg.fpath_0_4=/dev/cpld4
cpld_test_reg.addr_0_4=0xf
cpld_test_reg.len_0_4=1
cpld_test_reg.bit_offset_0_4=

cpld_test_reg.mode_0_5=config
cpld_test_reg.int_cons_0_5=
cpld_test_reg.src_0_5=logic_file
cpld_test_reg.frmt_0_5=byte
cpld_test_reg.pola_0_5=
cpld_test_reg.fpath_0_5=/dev/cpld5
cpld_test_reg.addr_0_5=0xf
cpld_test_reg.len_0_5=1
cpld_test_reg.bit_offset_0_5=

cpld_test_reg.mode_0_6=config
cpld_test_reg.int_cons_0_6=
cpld_test_reg.src_0_6=logic_file
cpld_test_reg.frmt_0_6=byte
cpld_test_reg.pola_0_6=
cpld_test_reg.fpath_0_6=/dev/cpld6
cpld_test_reg.addr_0_6=0xf
cpld_test_reg.len_0_6=1
cpld_test_reg.bit_offset_0_6=

cpld_test_reg.mode_0_7=config
cpld_test_reg.int_cons_0_7=
cpld_test_reg.src_0_7=logic_file
cpld_test_reg.frmt_0_7=byte
cpld_test_reg.pola_0_7=
cpld_test_reg.fpath_0_7=/dev/cpld7
cpld_test_reg.addr_0_7=0x55
cpld_test_reg.len_0_7=1
cpld_test_reg.bit_offset_0_7=

cpld_test_reg.mode_0_8=config
cpld_test_reg.int_cons_0_8=
cpld_test_reg.src_0_8=logic_file
cpld_test_reg.frmt_0_8=byte
cpld_test_reg.pola_0_8=
cpld_test_reg.fpath_0_8=/dev/cpld8
cpld_test_reg.addr_0_8=0x55
cpld_test_reg.len_0_8=1
cpld_test_reg.bit_offset_0_8=

cpld_test_reg.mode_0_9=config
cpld_test_reg.int_cons_0_9=
cpld_test_reg.src_0_9=logic_file
cpld_test_reg.frmt_0_9=byte
cpld_test_reg.pola_0_9=
cpld_test_reg.fpath_0_9=/dev/cpld9
cpld_test_reg.addr_0_9=0x55
cpld_test_reg.len_0_9=1
cpld_test_reg.bit_offset_0_9=

# Configuration item: Hardware version register of each CPLD
# Description: Format  cpld_hw_version_[cpld_id] cpld_id is cpld number,start with 1
# Note: Optional

cpld_hw_version.mode_0_0=config
cpld_hw_version.int_cons_0_0=
cpld_hw_version.src_0_0=logic_file
cpld_hw_version.frmt_0_0=byte
cpld_hw_version.pola_0_0=
cpld_hw_version.fpath_0_0=/dev/cpld0
cpld_hw_version.addr_0_0=0x7
cpld_hw_version.len_0_0=1
cpld_hw_version.bit_offset_0_0=

cpld_hw_version.mode_0_1=config
cpld_hw_version.int_cons_0_1=
cpld_hw_version.src_0_1=logic_file
cpld_hw_version.frmt_0_1=byte
cpld_hw_version.pola_0_1=
cpld_hw_version.fpath_0_1=/dev/cpld1
cpld_hw_version.addr_0_1=0xc
cpld_hw_version.len_0_1=1
cpld_hw_version.bit_offset_0_1=

cpld_hw_version.mode_0_2=config
cpld_hw_version.int_cons_0_2=
cpld_hw_version.src_0_2=logic_file
cpld_hw_version.frmt_0_2=byte
cpld_hw_version.pola_0_2=
cpld_hw_version.fpath_0_2=/dev/cpld2
cpld_hw_version.addr_0_2=0xc
cpld_hw_version.len_0_2=1
cpld_hw_version.bit_offset_0_2=

cpld_hw_version.mode_0_3=config
cpld_hw_version.int_cons_0_3=
cpld_hw_version.src_0_3=logic_file
cpld_hw_version.frmt_0_3=byte
cpld_hw_version.pola_0_3=
cpld_hw_version.fpath_0_3=/dev/cpld3
cpld_hw_version.addr_0_3=0xc
cpld_hw_version.len_0_3=1
cpld_hw_version.bit_offset_0_3=

cpld_hw_version.mode_0_4=config
cpld_hw_version.int_cons_0_4=
cpld_hw_version.src_0_4=logic_file
cpld_hw_version.frmt_0_4=byte
cpld_hw_version.pola_0_4=
cpld_hw_version.fpath_0_4=/dev/cpld4
cpld_hw_version.addr_0_4=0xc
cpld_hw_version.len_0_4=1
cpld_hw_version.bit_offset_0_4=

cpld_hw_version.mode_0_5=config
cpld_hw_version.int_cons_0_5=
cpld_hw_version.src_0_5=logic_file
cpld_hw_version.frmt_0_5=byte
cpld_hw_version.pola_0_5=
cpld_hw_version.fpath_0_5=/dev/cpld5
cpld_hw_version.addr_0_5=0xc
cpld_hw_version.len_0_5=1
cpld_hw_version.bit_offset_0_5=

cpld_hw_version.mode_0_6=config
cpld_hw_version.int_cons_0_6=
cpld_hw_version.src_0_6=logic_file
cpld_hw_version.frmt_0_6=byte
cpld_hw_version.pola_0_6=
cpld_hw_version.fpath_0_6=/dev/cpld6
cpld_hw_version.addr_0_6=0xc
cpld_hw_version.len_0_6=1
cpld_hw_version.bit_offset_0_6=

cpld_hw_version.mode_0_7=config
cpld_hw_version.int_cons_0_7=
cpld_hw_version.src_0_7=logic_file
cpld_hw_version.frmt_0_7=byte
cpld_hw_version.pola_0_7=
cpld_hw_version.fpath_0_7=/dev/cpld7
cpld_hw_version.addr_0_7=0x9
cpld_hw_version.len_0_7=1
cpld_hw_version.bit_offset_0_7=

cpld_hw_version.mode_0_8=config
cpld_hw_version.int_cons_0_8=
cpld_hw_version.src_0_8=logic_file
cpld_hw_version.frmt_0_8=byte
cpld_hw_version.pola_0_8=
cpld_hw_version.fpath_0_8=/dev/cpld8
cpld_hw_version.addr_0_8=0x9
cpld_hw_version.len_0_8=1
cpld_hw_version.bit_offset_0_8=

cpld_hw_version.mode_0_9=config
cpld_hw_version.int_cons_0_9=
cpld_hw_version.src_0_9=logic_file
cpld_hw_version.frmt_0_9=byte
cpld_hw_version.pola_0_9=
cpld_hw_version.fpath_0_9=/dev/cpld9
cpld_hw_version.addr_0_9=0x9
cpld_hw_version.len_0_9=1
cpld_hw_version.bit_offset_0_9=


