#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Configuration item:	LED CPLD register address
# Description: Formatled_status_[led_id]_[led_index]
# Note:	led_id By definition wb_led_t
# led_index:If there is no index, fill in 0. If there is an index (such as a fan light), the number starts from 1

# Front panel SYS light
led_status.mode_0_0=config
led_status.src_0_0=logic_file
led_status.frmt_0_0=bit
led_status.fpath_0_0=/dev/cpld1
led_status.addr_0_0=0x6c
led_status.len_0_0=3

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 0- Front panel SYS light
led_status_decode_0_0=0
led_status_decode_0_1=7
led_status_decode_0_2=3
led_status_decode_0_3=5
led_status_decode_0_4=1
led_status_decode_0_5=6
led_status_decode_0_6=2
led_status_decode_0_17=5
led_status_decode_0_18=7
led_status_decode_0_19=6
led_status_decode_0_33=5
led_status_decode_0_34=7
led_status_decode_0_35=6
led_status_decode_0_65=5
led_status_decode_0_66=7
led_status_decode_0_67=6
led_status_decode_0_129=5
led_status_decode_0_130=7
led_status_decode_0_131=6
led_status_decode_0_255=0

# Front panel BMC light
led_status.mode_2_0=config
led_status.src_2_0=logic_file
led_status.frmt_2_0=bit
led_status.fpath_2_0=/dev/cpld1
led_status.addr_2_0=0x6d
led_status.len_2_0=3

led_status_decode_2_0=0
led_status_decode_2_1=7
led_status_decode_2_2=3
led_status_decode_2_3=5
led_status_decode_2_4=1
led_status_decode_2_5=6
led_status_decode_2_6=2
led_status_decode_2_7=0

# Front panel FAN light
led_status.mode_4_0=config
led_status.src_4_0=logic_file
led_status.frmt_4_0=bit
led_status.fpath_4_0=/dev/cpld1
led_status.addr_4_0=0x6e
led_status.len_4_0=3

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 4-Front panel FAN light
led_status_decode_4_0=0
led_status_decode_4_1=7
led_status_decode_4_2=3
led_status_decode_4_3=5
led_status_decode_4_4=1
led_status_decode_4_5=6
led_status_decode_4_6=2
led_status_decode_4_7=0

# Front panel PSU light
led_status.mode_6_0=config
led_status.src_6_0=logic_file
led_status.frmt_6_0=bit
led_status.fpath_6_0=/dev/cpld1
led_status.addr_6_0=0x6f
led_status.len_6_0=3

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 6-Front panel PSU light
led_status_decode_6_0=0
led_status_decode_6_1=7
led_status_decode_6_2=3
led_status_decode_6_3=5
led_status_decode_6_4=1
led_status_decode_6_5=6
led_status_decode_6_6=2
led_status_decode_6_7=0

# Front panel positioning light
led_status.mode_8_0=config
led_status.src_8_0=logic_file
led_status.frmt_8_0=bit
led_status.fpath_8_0=/dev/cpld1
led_status.addr_8_0=0x6b
led_status.len_8_0=1

# Configuration item: The LED light CPLD register value is converted to the standard value
# Description: format led_status_decode_[led_id]_[origin_value] origin_value: indicates the original CPLD value
# led_id defined with LED light type 8- Front panel positioning light
led_status_decode_8_0=0
led_status_decode_8_1=4

# Fan body lamp1
led_status.mode_10_1=config
led_status.src_10_1=logic_file
led_status.frmt_10_1=bit
led_status.fpath_10_1=/dev/cpld7
led_status.addr_10_1=0xd0
led_status.len_10_1=3

# Fan body lamp2
led_status.mode_10_2=config
led_status.src_10_2=logic_file
led_status.frmt_10_2=bit
led_status.fpath_10_2=/dev/cpld8
led_status.addr_10_2=0xd0
led_status.len_10_2=3

# Fan body lamp3
led_status.mode_10_3=config
led_status.src_10_3=logic_file
led_status.frmt_10_3=bit
led_status.fpath_10_3=/dev/cpld7
led_status.addr_10_3=0xd1
led_status.len_10_3=3

# Fan body lamp4
led_status.mode_10_4=config
led_status.src_10_4=logic_file
led_status.frmt_10_4=bit
led_status.fpath_10_4=/dev/cpld8
led_status.addr_10_4=0xd1
led_status.len_10_4=3

# Fan body lamp5
led_status.mode_10_5=config
led_status.src_10_5=logic_file
led_status.frmt_10_5=bit
led_status.fpath_10_5=/dev/cpld7
led_status.addr_10_5=0xd2
led_status.len_10_5=3

# Fan body lamp6
led_status.mode_10_6=config
led_status.src_10_6=logic_file
led_status.frmt_10_6=bit
led_status.fpath_10_6=/dev/cpld8
led_status.addr_10_6=0xd2
led_status.len_10_6=3

# Fan body lamp7
led_status.mode_10_7=config
led_status.src_10_7=logic_file
led_status.frmt_10_7=bit
led_status.fpath_10_7=/dev/cpld7
led_status.addr_10_7=0xd3
led_status.len_10_7=3

# Fan body lamp8
led_status.mode_10_8=config
led_status.src_10_8=logic_file
led_status.frmt_10_8=bit
led_status.fpath_10_8=/dev/cpld8
led_status.addr_10_8=0xd3
led_status.len_10_8=3

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 10-Fan body lamp
led_status_decode_10_0=0
led_status_decode_10_1=7
led_status_decode_10_2=3
led_status_decode_10_3=5
led_status_decode_10_4=1
led_status_decode_10_5=6
led_status_decode_10_6=2


# Front sfp light
led_status.mode_13_0=config
led_status.src_13_0=logic_file
led_status.frmt_13_0=bit
led_status.fpath_13_0=/dev/cpld1
led_status.addr_13_0=0x6b
led_status.len_13_0=3

led_status_decode_13_0=0
led_status_decode_13_1=7
led_status_decode_13_2=3
led_status_decode_13_3=5
led_status_decode_13_4=1
led_status_decode_13_5=6
led_status_decode_13_6=2
led_status_decode_13_7=0
