
# Configuration item: watchdog number
# Description: Format watchdog_id_[index]
watchdog_id_0=0

# Configuration item: watchdog device name
# Description: Format watchdog_name_[index]_[type]
watchdog_name_0_0=identity
watchdog_name_0_1=state
watchdog_name_0_2=timeleft
watchdog_name_0_3=timeout

# enable
watchdog_dev.mode_0_4=config
watchdog_dev.src_0_4=file
watchdog_dev.frmt_0_4=bit
watchdog_dev.fpath_0_4=/dev/cpld1
watchdog_dev.addr_0_4=0x40
watchdog_dev.len_0_4=1
watchdog_dev.bit_offset_0_4=0
