{
    "asic_type": "{{ asic_type }}",
    {% if asic_subtype is defined and asic_subtype != '' -%}
    "asic_subtype": "{{ asic_subtype }}",
    {% endif -%}
    "asic_id": "{{ DEVICE_METADATA.localhost.asic_id }}",
    "mac": "{{ DEVICE_METADATA.localhost.mac }}",
    "resource_type": "{{ DEVICE_METADATA.localhost.resource_type }}",
    "synchronous_mode": {% if DEVICE_METADATA.localhost.synchronous_mode == "disable" %}"disable"{% else %}"enable"{% endif %},
    {%if DEVICE_METADATA.localhost.supporting_bulk_counter_groups is defined and DEVICE_METADATA.localhost.supporting_bulk_counter_groups != '' -%}
    "supporting_bulk_counter_groups": "{{ DEVICE_METADATA.localhost.supporting_bulk_counter_groups|join(',') }}",
    {% endif -%}
    {% if DEVICE_METADATA.localhost.enable_per_port_counter_discovery is defined -%}
    "enable_per_port_counter_discovery": {% if DEVICE_METADATA.localhost.enable_per_port_counter_discovery|string|lower == "true" %}"true"{% else %}"false"{% endif %},
    {% endif -%}
    "dual_tor": {% if DEVICE_METADATA.localhost.type == "ToRRouter" and DEVICE_METADATA.localhost.subtype == "DualToR" %}"enable"{% else %}"disable"{% endif %},
    "dscp_remapping": {% if SYSTEM_DEFAULTS is defined and SYSTEM_DEFAULTS.tunnel_qos_remap is defined and SYSTEM_DEFAULTS.tunnel_qos_remap.status == "enabled" %}"enable"{% else %}"disable"{% endif %},
    "orch_southbound_zmq_enabled": {% if DEVICE_METADATA.localhost.orch_southbound_zmq_enabled is defined and DEVICE_METADATA.localhost.orch_southbound_zmq_enabled == "true" %}"true"{% else %}"false"{% endif %},
    "switch_type": "{{ DEVICE_METADATA.localhost.switch_type }}"
}
